# Ignore everything in these folders
backup/*
output/*
channels/*
on_demand/*
media/raw/*
media/converted/*

# Keep folder placeholders
!backup/.gitkeep
!media/.gitkeep
!media/converted/.gitkeep
!media/raw/.gitkeep
!output/.gitkeep
!channels/.gitkeep
!on_demand/.gitkeep

# Ignore macOS resource fork files
._*
